{% extends 'dalam.jade' %} 

{% block css %}

{{ block.super }}
link(rel="Stylesheet", type="text/css",
	href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.min.css")
link(rel="Stylesheet", type="text/css",
	href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css")

{% endblock css %}

{% block isi %}
h1 {{ toko.nama }}
	small Pesanan Pelanggan
.row-fluid
	.span8
		h4 Pesanan Hari Ini
		{% for pesanan in pesanan_hari_ini %}

		{% empty %}
		em Tidak ada pesanan 

		{% endfor %}
		br
		br
		h4 Pesanan Pekan Ini
		{% for pesanan in pesanan_pekan_ini %}

		{% empty %}
		em Tidak ada pesanan 

		{% endfor %}

	.span4
		h4 Pesanan berlangsung

		{% if pesanan %}
		a(href="{% url 'pesanan_berlangsung' toko.slug %}")
			| Lihat pesanan


		{% else %}
		p
			em Tidak ada pesanan
		{% if ada_keranjang %}
		p
			em Keranjang peminjaman aktif. Batalkan keranjang untuk membuat peminjaman.
		{% else %}
		form(method="post", action="")
			{% csrf_token %}
			{{ form.as_p }}
			button.btn.btn-large.btn-primary(type="submit", 
				name="submit", value="buat") Buat pesanan
		{% endif %}
		{% endif %}


{% endblock isi %}

{% block skrip %}

{{ block.super }}
script(type="text/javascript", 
	src="{{ STATIC_URL }}/js/jquery-ui-1.10.3.custom.min.js")
script(type="text/javascript",
	src="{{ STATIC_URL }}/js/jquery-ui-timepicker-addon.js")
script(type="text/javascript",
	src="{{ STATIC_URL }}js/pesanan.js")

{% endblock skrip %}