{% extends 'dalam.jade' %} 

{% block css %}

{{ block.super }}
link(rel="Stylesheet", type="text/css",
	href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.min.css")
link(rel="Stylesheet", type="text/css",
	href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css")

{% endblock css %}

{% block isi %}
h1 {{ toko.nama }}
	small Pesanan Pelanggan
.well
	h3 {{ pesanan.pelanggan.nama }}


{% if pesanan %}
table.table.table-bordered#tabel_pesanan(summary="Daftar Pesanan")
	caption Isi keranjang sewa
	thead
		tr
			th(scope="col") Model
			th(scope="col") Item
			th(scope="col") Sewa/Unit
			th
	tbody
		
		{% for it in item %}
		tr
			td 
				a(href="{{ it.jenis.ambil_url_absolut }}") {{ it.jenis.nama }}
			td
				a(href="{{ it.ambil_url_absolut }}") {{ it.nama }}
			td
				{{ it.jenis.sewa_per_unit }}
			td
				form(method="post", action="")
					{% csrf_token %}
					input(type="hidden", 
						name="pk_item", 
						value="{{ it.pk }}")
					input.btn.btn-small(type="submit",
						name="submit",
						value="Hapus")
		{% endfor %}

form(method="post", action="")
	{% csrf_token %}
	p Mulai
	input#mulai(type="text", name="mulai")
	p Selesai
	input#selesai(type="text", name="selesai")
	br
	{% if pesanan.pelanggan %}
	p Pelanggan: {{ pesanan.pelanggan }}
	input.btn.btn-large.btn-primary(type="submit", 
		name="submit", value="Checkout")
	{% else %}
	em Pelanggan belum ditentukan
	{% endif %}
	input.btn.btn-large.btn-danger.pull-right(type="submit", 
		name="submit", value="Batal")



{% else %}
| Tidak ada pesanan
form(method="post", action="")
	{% csrf_token %}
	button.btn.btn-large.btn-primary.pull-right(type="submit", 
		name="submit", value="buat") Buat pesanan
{% endif %}


{% endblock isi %}

{% block skrip %}

{{ block.super }}
script(type="text/javascript", 
	src="{{ STATIC_URL }}/js/jquery-ui-1.10.3.custom.min.js")
script(type="text/javascript",
	src="{{ STATIC_URL }}/js/jquery-ui-timepicker-addon.js")
script(type="text/javascript",
	src="{{ STATIC_URL }}js/kalender.js")

{% endblock skrip %}