{% extends 'dalam.jade' %} 
{% block isi %}
.row-fluid
	.span8
		h1 {{ jenis.nama }}
		h1
			small Daftar Item
		.well
			h4 Tambah Item
			form(action="", method="post")
				{% csrf_token %}
				{{ form }}
				br
				button.btn(type="submit", 
					value="item_baru",
					name="submit"
					) Item Baru

		h4 Daftar Item

		{% for stat_item in grup_stat_item %}
		p
			a(href="{{ stat_item.item.nama }}/") {{ stat_item.item }}
		ul
			li Status: {{ stat_item.status }}
			li Dipesan: {{ stat_item.pesanan_terdekat }}
			{% if ada_keranjang and not stat_item.status == "Sedang dipinjam" %}
			form(method="POST", action="")
				{% csrf_token %}
				input(type="hidden", name="pk_item",
				 value="{{ stat_item.item.pk }}")
				button.btn(type="submit",
					name="submit",
					value="tambah_keranjang") 
					| Masukkan keranjang
			{% endif %}
			{% if ada_pesanan and not stat_item.pesanan_terdekat == "Sedang dipesan" %}
			form(method="POST", action="")
				{% csrf_token %}
				input(type="hidden", name="pk_item",
				 value="{{ stat_item.item.pk }}")
				button.btn.btn-primary(type="submit",
					name="submit",
					value="pesan") 
					| pesan
			{% endif %}
		hr
		{% endfor %}
	.span4
		.well
			h4 Data
			| Tersedia sejak
			p {{ jenis.didaftar|date:"d M Y" }}
			| Sewa per unit
			p Rp. {{ jenis.sewa_per_unit }}
		.well
			h4 Hapus
			form(method="post", action="")
				{% csrf_token %}
				button.btn.btn-danger(type="submit",
					name="submit",
					value="hapus")
					| Hapus Model
{% endblock isi %}